In [2]:
import pandas as pd
from openpyxl import load_workbook

In [3]:
data_1 = pd.read_csv('1.csv', low_memory=False)

In [4]:
data_1.head()

,CUSTOMER_NAME,HNW_TYPE,HNW_CATEGORY,AL_TAG,AL_AMT,PL_TAG,PL_AMT,BL_TAG,BL_AMT,TWL_AMT,...,LAST_4_DIGITS_DC_EMI,CC_PRE_APPROVED_TAG,CC_PRE_APPROVED_CARD,LAST_4_DIGITS_FOR_DC,LAST_4_DIGITS_FOR_CC,BRANCH_CODE,GENDER,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Darayas Pesi Jehangir,IMPERIA,Imperia,AL PQ,2500000,NaN,NaN,BL MO,225000,NaN,...,5576.0,N,NaN,5576,9291,1.0,F,NaN,NaN,NaN
1,Vijay Madhav Paradkar,COP,Classic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,N,NaN,3254,NaN,1.0,F,NaN,NaN,NaN
2,Mavis Pinto,COP,Classic,AL PQ,2000000,PL PQ,NaN,NaN,NaN,1000000.0,...,1527.0,N,NaN,1527,NaN,1.0,F,NaN,NaN,NaN
3,Naini Madhavji,PC,Preferred,AL PQ,2000000,PL PQ,NaN,NaN,NaN,1000000.0,...,7575.0,N,NaN,7575,NaN,1.0,F,NaN,NaN,NaN
4,K B Muralidhar,IMPERIA,Imperia,AL ZIP Drive,2000000,PL 10 Sec,NaN,NaN,NaN,NaN,...,1355.0,N,NaN,1355,NaN,1.0,F,NaN,NaN,NaN

In [5]:
data_2 = pd.read_csv('2.csv', low_memory=False)

In [6]:
data_2.head()

,CUSTOMER_NAME,HNW_TYPE,HNW_CATEGORY,AL_TAG,AL_AMT,PL_TAG,PL_AMT,BL_TAG,BL_AMT,TWL_AMT,...,JUMBO_LOAN_AMT,JUMBO_LOAN_CARD_NO,DC_EMI_AMT,LAST_4_DIGITS_DC_EMI,CC_PRE_APPROVED_TAG,CC_PRE_APPROVED_CARD,LAST_4_DIGITS_FOR_DC,LAST_4_DIGITS_FOR_CC,BRANCH_CODE,GENDER
0,Rajendra Kumar,COP,Classic,AL ZIP Drive,2000000.0,PL 10 Sec,NaN,NaN,NaN,1000000.0,...,NaN,NaN,177548.0,2640.0,N,NaN,2640.0,2645.0,176,F
1,Vipin Tiwari,PRIME,Prime,AL ZIP Drive,1015000.0,PL 10 Sec,690000.0,NaN,NaN,NaN,...,NaN,NaN,200000.0,5841.0,N,NaN,5841.0,NaN,587,F
2,Saddam Mahamaddin,NaN,NaN,AL PQ,743360.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,80000.0,5409.0,N,NaN,5409.0,NaN,1717,F
3,Anod Kumar,NaN,NaN,AL MO,600000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,200000.0,5047.0,N,NaN,5047.0,NaN,679,F
4,Ram Dular,NaN,NaN,AL PQ,1500000.0,PL 10 Sec,500000.0,NaN,NaN,NaN,...,NaN,NaN,246561.0,424.0,N,NaN,424.0,9093.0,480,F

In [7]:
input_data_1_2 = pd.concat([data_1, data_2], ignore_index=True)

In [8]:
input_data_1_2.tail()

,CUSTOMER_NAME,HNW_TYPE,HNW_CATEGORY,AL_TAG,AL_AMT,PL_TAG,PL_AMT,BL_TAG,BL_AMT,TWL_AMT,...,LAST_4_DIGITS_DC_EMI,CC_PRE_APPROVED_TAG,CC_PRE_APPROVED_CARD,LAST_4_DIGITS_FOR_DC,LAST_4_DIGITS_FOR_CC,BRANCH_CODE,GENDER,Unnamed: 22,Unnamed: 23,Unnamed: 24
1999994,Sumit Pal Singh U/G Manmohan Singh,PB,Classic,AL ZIP Drive,995680,PL 10 Sec,876000,NaN,NaN,NaN,...,7961.0,N,NaN,7961,740,230.0,F,NaN,NaN,NaN
1999995,Abhinav,NaN,NaN,AL PQ,1.5e+06,PL PQ,300000,NaN,NaN,NaN,...,622.0,N,NaN,622,NaN,231.0,F,NaN,NaN,NaN
1999996,Lovish Sachdeva,PRIME,Prime,AL ZIP Drive,1.5e+06,PL PQ,389000,NaN,NaN,NaN,...,648.0,N,NaN,648,7697,231.0,F,NaN,NaN,NaN
1999997,Gurmeet Singh,PC,Preferred,AL MO,NaN,NaN,NaN,NaN,NaN,NaN,...,9587.0,N,NaN,7806,4654,231.0,F,NaN,NaN,NaN
1999998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,N,NaN,663,2006,231.0,F,NaN,NaN,NaN

In [9]:
n = 1000000

list_df = [input_data_1_2[i:i+n] for i in range(0,input_data_1_2.shape[0],n)]

In [10]:
random_excel = pd.read_excel('random%20IDs%20-%2010%20Lac.xlsx')

In [11]:
random_excel['EBB9D209']

0         4A025129
1         7F34C62C
2         EDF36662
3         F1FB22CB
4         A3F32B09
            ...
999994    0A8D0B67
999995    6CEFE2CA
999996    4AEF114A
999997    932582DE
999998    688604DE
Name: EBB9D209, Length: 999999, dtype: object

In [16]:
working_template = load_workbook(filename='WORKING-tmp.xlsx')
sheetnames = working_template.get_sheet_names()
name = sheetnames[0]
sheet_ranges = working_template[name]
wt_df = pd.DataFrame(sheet_ranges.values)
wt_df.columns = wt_df.iloc[1]
wt_df = wt_df.drop([0,1])
# wt_df.iloc[0]['al_link']
wt_df

/Users/indranibiswas/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).

1,CUSTOMER_NAME,HNW_TYPE,HNW_CATEGORY,AL_TAG,AL_AMT,PL_TAG,PL_AMT,BL_TAG,BL_AMT,TWL_AMT,...,instaloan_link,instaloan_amount,instaloan_cardno,consumerLoan_showslide,consumerloan_amount,consumerloan_cardno,consumerloan_link,cc_cardno,cc_link,url
2,Darayas Pesi Jehangir,None,None,None,None,None,None,None,None,None,...,https://leads.hdfcbank.com/applications/webfor...,"=IF(LEN($M3)>0,TEXT(M3,""00,000""),"""")","=IF(LEN(L3)>0,CONCATENATE(""xx"",TEXT(L3,""0000"")...","=IF(LEN($O3)>0,""true"",""false"")","=IF(LEN($O3)>0,TEXT(O3,""00,000""),"""")","=IF(LEN(P3)>0,CONCATENATE(""xx"",TEXT(P3,""0000"")...",https://v1.hdfcbank.com/htdocs/common/festive-...,"=IF(LEN($R3)>0,CONCATENATE(""xx"",TEXT($R3,""0000...","=IF(LEN($R3)>0,""https://leads.hdfcbank.com/app...","=CONCATENATE(""https://mf1.pctr.co/"",W3)"
3,Vijay Madhav Paradkar,PC,Preferred,AL PQ,2000000,PL PQ,None,None,None,1000000,...,https://leads.hdfcbank.com/applications/webfor...,"=IF(LEN($M4)>0,TEXT(M4,""00,000""),"""")","=IF(LEN(L4)>0,CONCATENATE(""xx"",TEXT(L4,""0000"")...","=IF(LEN($O4)>0,""true"",""false"")","=IF(LEN($O4)>0,TEXT(O4,""00,000""),"""")","=IF(LEN(P4)>0,CONCATENATE(""xx"",TEXT(P4,""0000"")...",https://v1.hdfcbank.com/htdocs/common/festive-...,"=IF(LEN($R4)>0,CONCATENATE(""xx"",TEXT($R4,""0000...","=IF(LEN($R4)>0,""https://leads.hdfcbank.com/app...","=CONCATENATE(""https://mf1.pctr.co/"",W4)"
4,Mavis Pinto,IMPERIA,Imperia,None,None,None,None,None,None,None,...,https://leads.hdfcbank.com/applications/webfor...,"=IF(LEN($M5)>0,TEXT(M5,""00,000""),"""")","=IF(LEN(L5)>0,CONCATENATE(""xx"",TEXT(L5,""0000"")...","=IF(LEN($O5)>0,""true"",""false"")","=IF(LEN($O5)>0,TEXT(O5,""00,000""),"""")","=IF(LEN(P5)>0,CONCATENATE(""xx"",TEXT(P5,""0000"")...",https://v1.hdfcbank.com/htdocs/common/festive-...,"=IF(LEN($R5)>0,CONCATENATE(""xx"",TEXT($R5,""0000...","=IF(LEN($R5)>0,""https://leads.hdfcbank.com/app...","=CONCATENATE(""https://mf1.pctr.co/"",W5)"
5,Naini Madhavji,IMPERIA,Imperia,None,None,None,None,None,None,None,...,https://leads.hdfcbank.com/applications/webfor...,"=IF(LEN($M6)>0,TEXT(M6,""00,000""),"""")","=IF(LEN(L6)>0,CONCATENATE(""xx"",TEXT(L6,""0000"")...","=IF(LEN($O6)>0,""true"",""false"")","=IF(LEN($O6)>0,TEXT(O6,""00,000""),"""")","=IF(LEN(P6)>0,CONCATENATE(""xx"",TEXT(P6,""0000"")...",https://v1.hdfcbank.com/htdocs/common/festive-...,"=IF(LEN($R6)>0,CONCATENATE(""xx"",TEXT($R6,""0000...","=IF(LEN($R6)>0,""https://leads.hdfcbank.com/app...","=CONCATENATE(""https://mf1.pctr.co/"",W6)"
6,K B Muralidhar,IMPERIA,Virtual Rm,None,None,None,None,None,None,None,...,https://leads.hdfcbank.com/applications/webfor...,"=IF(LEN($M7)>0,TEXT(M7,""00,000""),"""")","=IF(LEN(L7)>0,CONCATENATE(""xx"",TEXT(L7,""0000"")...","=IF(LEN($O7)>0,""true"",""false"")","=IF(LEN($O7)>0,TEXT(O7,""00,000""),"""")","=IF(LEN(P7)>0,CONCATENATE(""xx"",TEXT(P7,""0000"")...",https://v1.hdfcbank.com/htdocs/common/festive-...,"=IF(LEN($R7)>0,CONCATENATE(""xx"",TEXT($R7,""0000...","=IF(LEN($R7)>0,""https://leads.hdfcbank.com/app...","=CONCATENATE(""https://mf1.pctr.co/"",W7)"
7,Pravin Balkrishna Mhambrey,PRIME,Prime,AL PQ,1500000,PL PQ,500000,None,None,None,...,https://leads.hdfcbank.com/applications/webfor...,"=IF(LEN($M8)>0,TEXT(M8,""00,000""),"""")","=IF(LEN(L8)>0,CONCATENATE(""xx"",TEXT(L8,""0000"")...","=IF(LEN($O8)>0,""true"",""false"")","=IF(LEN($O8)>0,TEXT(O8,""00,000""),"""")","=IF(LEN(P8)>0,CONCATENATE(""xx"",TEXT(P8,""0000"")...",https://v1.hdfcbank.com/htdocs/common/festive-...,"=IF(LEN($R8)>0,CONCATENATE(""xx"",TEXT($R8,""0000...","=IF(LEN($R8)>0,""https://leads.hdfcbank.com/app...","=CONCATENATE(""https://mf1.pctr.co/"",W8)"
8,Shahrukh Naval Parekh,None,None,None,None,None,None,None,None,None,...,https://leads.hdfcbank.com/applications/webfor...,"=IF(LEN($M9)>0,TEXT(M9,""00,000""),"""")","=IF(LEN(L9)>0,CONCATENATE(""xx"",TEXT(L9,""0000"")...","=IF(LEN($O9)>0,""true"",""false"")","=IF(LEN($O9)>0,TEXT(O9,""00,000""),"""")","=IF(LEN(P9)>0,CONCATENATE(""xx"",TEXT(P9,""0000"")...",https://v1.hdfcbank.com/htdocs/common/festive-...,"=IF(LEN($R9)>0,CONCATENATE(""xx"",TEXT($R9,""0000...","=IF(LEN($R9)>0,""https://leads.hdfcbank.com/app...","=CONCATENATE(""https://mf1.pctr.co/"",W9)"

In [37]:
number_of_rows_each_df = 1000000

df = pd.DataFrame(columns=['id', 'name','al_link', 'al_showslide2','al_pre-approvedText','al_loanAmount','twl_showslide2','twl_loanAmount','twl_link','pl_loanType', 'pl_pre-approvedText','pl_loanAmount','pl_link','hl_name','hl_link','instaloan_show','instaloan_link','instaloan_amount','instaloan_cardno','consumerLoan_showslide','consumerloan_amount','consumerloan_cardno','consumerloan_link','cc_cardno','cc_link','url'])
for i,j in input_data_1_2.iterrows():
#         print(type(j[i+5]))
#         print(j[i+5])
#         print(wt_df.iloc[0]['pl_preapprovedText'])
    df['id'] = 'a' + (random_excel.sample(1)['EBB9D209']).astype(str).str.lower()
    df['name'] = j[i].split(" ")[0]
    df['al_link'] = wt_df.iloc[0]['al_link'].replace("$D3",j[i+2])
    df['al_showslide2'] = wt_df.iloc[0]['al_showslide2'].replace("D3",j[i+2])
    df['al_pre-approvedText'] = wt_df.iloc[0]['al_pre-approvedText'].replace("$D3",j[i+2])
    df['al_loanAmount'] = j['AL_AMT']
    df['twl_showslide2'] = wt_df.iloc[0]['twl_showslide2'].replace("$J3",str(j[i+9]))
    df['twl_loanAmount'] = j['TWL_AMT']
    df['twl_link'] = 'https://leads.hdfcbank.com/applications/new_webforms/apply/mobile/Two-wheeler-Loan.aspx?pcode=QLS_VIDEO_VIS'
    df['pl_loanType'] = wt_df.iloc[0]['pl_loanType'].replace("$F3",str(j[i+5]))
    df['pl_pre-approvedText'] = wt_df.iloc[0]['pl_preapprovedText'].replace("$F3",str(j[i+5]))
    df['pl_loanAmount'] = j['PL_AMT']
    df['pl_link'] = wt_df.iloc[0]['pl_link'].replace("$F3",str(j[i+5]))
    df['hl_name'] = ""
    df['hl_link'] = 'https://leads.hdfcbank.com/applications/new_webforms/apply/mobile/Home-Loan-Indians.aspx?SourceCode=paid&pcode=QLS_EMAIL&promocode=QLS_EMAIL&utm_campaign=QLS&utm_medium=email&utm_source=QLS_EMAIL'
    df['instaloan_show'] = wt_df.iloc[0]['instaloan_show'].replace("$M3",str(j[i+12]))
    df['instaloan_link'] = wt_df.iloc[0]['instaloan_link']
    df['instaloan_amount'] = j[i+10]
    df['instaloan_cardno'] = 'XX' + str(j[i+12])
    df['consumerLoan_showslide'] = wt_df.iloc[0]['consumerLoan_showslide'].replace("$O3",str(j[i+14]))
    df['consumerloan_amount'] = j[i+14]
    df['consumerloan_cardno'] = j[i+15]
    df['consumerloan_link'] = 'https://v1.hdfcbank.com/htdocs/common/festive-treats/loan_product/easyemi.html?pcode=QLS_EMAIL&promocode=QLS_EMAIL&utm_campaign=%20QLS&utm_medium=email&utm_source=QLS_EMAIL'
    df['cc_cardno'] = ""
    df['cc_link'] = wt_df.iloc[0].replace("$R3",str(j[i+17]))
    df['url'] = wt_df.iloc[0].replace("$W3",str(j[i+22]))
    df.reset_index(drop=True, inplace=True)
    
    total_rows = df.index
   
    if df.index == number_of_rows_each_df:
        df.to_excel('output{}'.format()')

print(df)

          id     name                                            al_link  \
0  ad989c1c5  Darayas  =IF(Imperia="AL ZIP Drive","https://leadinsta....

                        al_showslide2  \
0  =IF(LEN(Imperia)>0,"true","false")

                                 al_pre-approvedText al_loanAmount  \
0  =IF(Imperia="AL ZIP Drive","pre-approved","eli...       2500000

                   twl_showslide2  twl_loanAmount  \
0  =IF(LEN(nan)>0,"true","false")             NaN

                                            twl_link  \
0  https://leads.hdfcbank.com/applications/new_we...

                                         pl_loanType  ...  \
0  =IF(nan="PL 10 Sec","Disbursal in 10 sec","Qui...  ...

                                      instaloan_link  instaloan_amount  \
0  https://leads.hdfcbank.com/applications/webfor...               NaN

  instaloan_cardno               consumerLoan_showslide consumerloan_amount  \
0            XXnan  =IF(LEN(350000.0)>0,"true","false")            350000.0

  consumerloan_cardno                                  consumerloan_link  \
0              5576.0  https://v1.hdfcbank.com/htdocs/common/festive-...

   cc_cardno cc_link  url
0                NaN  NaN

[1 rows x 26 columns]